<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs', {title : blog.title}) %>
<div class="container">
    <p class="lead text-center" style="background-color:#b3ffff"> <%= blog.snippet %> </p>
    <pre wrap="soft" class="text-justify" style="background-image:url('https://images.unsplash.com/photo-1563973153236-794eef98609f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bGlnaHQlMjBzaW1wbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;"> <%= blog.content %> </pre>
    
</div>
<%- include('../partials/tail.ejs') %>